@model ProspAI_Sprint3.Models.Reclamacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reclamacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nm_clie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nm_clie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dt_recla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dt_recla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Origem_recla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Origem_recla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solucionada_recla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solucionada_recla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assunto_recla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assunto_recla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcionario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.Email_fun)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_recla">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
